<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.useso.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<!--slider-->
<link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="all" />
<script src="/static/js/modernizr.js"></script>
<!-- jQuery -->
 <script src="/static/js/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.7.min.js">\x3C/script>')</script>
  <!-- FlexSlider -->
  <script defer src="/static/js/jquery.flexslider.js"></script>
  <script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
</head>
<body>
   <div class="header">
	    <div class="header-top">
			<div class="wrap"> 
				    <div class="logo">
						<a href="base.html"><img src="/static/images/logo.png" alt=""/></a>
					</div>
				    <div class="clear"></div> 
				</div>
		</div>
		<div class="header-bottom">
			  <div class="wrap"> 
			      <div class="top-nav">
						<ul>
							<li class="active"><a href="base.html">主楼</a></li>
							<li><a href="about.html">正心楼</a></li> 
							<li><a href="staff.html">诚意楼</a></li> 
							<li><a href="services.html">致知楼</a></li> 
						</ul>
					</div>
	    			<div class="clear"></div>	
	   		 </div>
  		</div>
  	</div>
	   <div class="wrap"> 
	       <div class="content-top">
				<div class="col_1_of_5 span_1_of_5">
					<div class="css3">
						<img src="/static/images/zhulou.jpg" alt="css3" title="Flats">
					</div>
					<div class="item_content1">
						<h4 class="title">主楼</h4>
						<div class="more">
							<a href="#" class="btn">选择</a>
						</div>
					</div>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<div class="css3">
						<img src="/static/images/zhengxin.jpg" alt="css3" title="Flats">
					</div>
					<div class="item_content2">
						<h4 class="title">正心楼</h4>
						<div class="more">
							<a href="#" class="btn">选择</a>
						</div>
					</div>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<div class="css3">
						<img src="/static/images/chengyi.jpg" alt="css3" title="Flats">
					</div>
					<div class="item_content3">
						<h4 class="title">诚意楼</h4>
						<div class="more">
							<a href="#" class="btn1">选择</a>
						</div>
					</div>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<div class="css3">
						<img src="/static/images/pic3.jpg" alt="css3" title="Flats">
					</div>
					<div class="item_content4">
						<h4 class="title">致知楼</h4>
						<div class="more">
							<a href="#" class="btn2">选择</a>
						</div>
					</div>
				</div>
				
				<div class="clear"></div>	
			</div>
   </div>
 <div class="footer">
	<div class="wrap">
       <div class="footer-top" width = "100%">

					<ul>
						<table width=20%>
								<tr>
								<td>Information</td>
								<td><a href="#">About us</a></td>

							</tr>
							</table>
					</ul>
				
		</div>
		
	</div>
</div>
</body>
</html>

    	
    	
            