<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>用户注册</title>
</head>
  <style type="text/css">
    body{color:#fff;background:#6FA9B7;padding:0 5em;margin:0}
    h1{text-align:center;padding:2em 1em;background:#CEA066}
    h2{color:#bf8;border-top:1px dotted #fff;margin-top:2em}
    p{margin:1em 0}
    .reg{padding:2% 41%;}
    .reg_bt0{padding:4% 40%;}
    .reg_bt0 input{width:120%;}
  </style>
<body>
<h1>注册页面：</h1>
<div class="reg">
    <form method = "post" enctype="multipart/form-data">
    <table>
      {% for field in uf %}
        <tr><td>{{field.label}}</td><td>{{field}}</td></tr>
      {%endfor%}
        <!--{{uf.as_p}}-->
    </table>
    <h2>注：必须输入完整</h2>
    <div class="reg_bt0">
        <input type="submit" value = "注册" />
    </div>
    </form>
</div>
</body>
</html>