<!DOCTYPE HTML>
<html>
<head>
<title>login</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.useso.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<!--slider-->
<link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="all" />
<script src="/static/js/modernizr.js"></script>
<!-- jQuery -->
 <script src="/static/js/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.7.min.js">\x3C/script>')</script>
  <!-- FlexSlider -->
  <script defer src="/static/js/jquery.flexslider.js"></script>
  <script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
</head>
<body>
   <div class="header">
	    <div class="header-top">
			<div class="wrap"> 
				    <div class="logo">
						<a href="/select/"><img src="/static/images/logo.png" alt=""/></a>
					</div>
				    <div class="clear"></div> 
				</div>
		</div>
		
  	</div>
 <div class="wrap"> 
   <div class="content-top">
		<div class="image">
			<div class="css3">
				<img src="/static/images/banner33.jpg" alt="css3" title="Flats">
			</div>	
		</div>	
		<div class="login">
			<h1>用户名或密码错误</h1>
            <input type="button" name="Submit" onclick="javascript:history.back(-1);"
                value="返回上一页">
		</div>
	</div>
</div>
 <div class="footer">
	<div class="wrap">
       <div class="footer-top" width = "100%">
					<ul>
						<table width=20%>
								<tr>
								<td>Information</td>
								<td><a href="/aboutus/">About us</a></td>

							</tr>
							</table>
					</ul>
				
		</div>
		
	</div>
</div>
</body>
</html>

    	
    	
            